* {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 100;
    line-height: 20px;

}

body {
    max-height: auto;
    max-width: 70rem;
    text-align: center;
    border-radius: .5rem;
}

header {
    background-color: azure;
    border-radius: .5rem;
}

.imagenprincipal {
    position: relative;
    justify-items: center;
}

.botao__primario {
    display: block;
    background-color: #fff;
    color: #000;
    border-color: #32c04f;
    border-radius: 0.5rem;

}

.botao__primario:hover {
    background-color: rgba(137, 242, 181, 0.931);
    border-width: 2px;
}

.botao__primario:active {
    background-color: rgb(125, 220, 155);
    color: #fff;
    border-color: #32c04f
}

.paginacao li {
    display: inline-flex;
    height: .5rem;
    flex-wrap: wrap;
    align-items: ;
}

.botao__secundario {
    display: flexbox;
    background-color: rgba(50, 232, 126, 0.931);
    color: #000;
    border-color: transparent;
    border-radius: 0.5rem;

}

.botao__secundario:hover {
    background-color: #07a731;
}

.botao__secundario:active {
    background-color: #07a731;
    color: #fff;
}

.publicacao1 {
    background-color: rgb(47, 241, 241);
    display: flex;
    flex-wrap: wrap;
}

.card {
    height: 28rem;
    width: 15rem;
    border-radius: 1rem;
    background-color: #2FF1F1;
    box-shadow: 0 0 10px 10px rgb(0 0 0 / 10%);
    text-align: center;
    padding: 0px 2px;
    text-transform: inherit;
    margin: .3rem;
}

img {
    border-radius: .5rem;
    border-style: outset;
}

.card:hover {
    box-shadow: 0 0 1px 1px rgba(0 0 0 / 1%), 0 1px 10px 0 rgba(0 0 0 / 1%);
}

.articulos {
    display: inline-flex;
    background-color: lightseagreen;
    border-radius: .5rem;
    text-align: center;
}

.articulopequenos {
    border-style: double;
    border-radius: 1rem;
    margin: .3rem;
    position: inherit;
    max-width: 15rem;
    max-height: auto;
    font-size: 10px;
}

.articulogrande {
    max-height: 40rem;
    max-width: 40rem;
    border-style: double;
    border-radius: 1rem;
    margin: .3rem;
}

footer {
    background-color: dodgerblue;
    border-radius: .5rem;
}

.rodape,
.link {
    display: inline-flex;
    border-style: double;
    border-radius: .5rem;
}

.rodape {
    max-width: 35rem;
}

.link {
    max-width: auto;

}

.contato {
    display: flex;

}