* {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 100;
    line-height: 20px;

}

body {
    margin: auto;
    max-height: auto;
    max-width: 70rem;
    text-align: center;
    border-radius: .5rem;

}

header {
    background-color: rgb(200, 234, 234);
    border-radius: .5rem;
}

.imagenprincipal {
    position: relative;
    justify-items: center;
    margin: auto;
}

.botao__primario {
   
    height: 55px;
    padding: 1rem;
    background-color: #fff;
    color: #000;
    border-color: #32c04f;
    border-radius: .5rem;
    text-decoration: solid;

}

#bufalo{
    text-decoration: none;
    font-size: 50px;
    align-content: center;
    color: #000;
}

a {  
    color: #000;
    text-decoration: none;
 }

.nav-header{
    justify-content: space-between;
    padding: 1rem;
 
}

.botao__primario:hover {
    background-color: rgba(137, 242, 181, 0.931);
    border-width: 2px;
}

.botao__primario:active {
    background-color: rgb(125, 220, 155);
    color: #fff;
    border-color: #32c04f
}

.paginacao li {
    display: inline-flex;
    flex-wrap: wrap;

}
.paginacao a{
    font-size: 1.5rem;
}

.botao__secundario {
    display: flex;
    background-color: rgba(50, 232, 126, 0.931);
    color: #000;
    border-color: transparent;
    border-radius: 0.5rem;

}

.botao__secundario:hover {
    background-color: #07a731;
}

.botao__secundario:active {
    background-color: #07a731;
    color: #fff;
}

nav {
    display: flex;
    align-items: center;

}

.publicacao1 {
    background-color: #7ef1f1;
    display: flex;
    flex-wrap: wrap;
    border-radius: .5rem;
}

.card {
    height: 22rem;
    width: 16rem;
    border-radius: 1rem;
    background-color: #7ef1f1;
    box-shadow: 0 0 10px 10px rgba(229, 80, 80, 0.1);
    justify-content: center;
    padding: .2rem .2rem;
    margin: .3rem;
    margin-left: .7rem;
}

img {
    border-radius: .5rem;
    border-style: outset;
}

.card:hover {
    box-shadow: 0 0 1px 1px rgba(0 0 0 / 1%), 0 1px 1px 10px rgba(0 0 0 / 1%);
}

.articulos {
    display: inline-flex;
    background-color: rgb(120, 216, 211);
    border-radius: .5rem;
    text-align: center;
    padding: .9rem;

}

hr {
    border-style: none;
}

.articulopequenos {
    border-style: double;
    border-radius: 1rem;
    margin: .3rem;
    position: inherit;
    min-width: 21rem;
    max-height: auto;
    font-size: 10px;
    padding: .6rem;
}
.leite{
    display: flex;
    margin: 1.5rem 0 ;
}

.leite-imagem{
    height: 100px;
    width: 150px;
}
.salvagem{
    height: 10rem;
    width: 15rem;
}
.text {
    font-size: .8rem;

}

.articulogrande {
    max-height: 40rem;
    max-width: 40rem;
    border-style: double;
    border-radius: 1rem;
    margin: .3rem;
    padding: .6rem;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: rgb(136, 181, 226);
    border-radius: .5rem;
}
.pie{
    display: inline-flex;
}
.rodape,
.link {
    border-style: double;
    border-radius: .5rem;
    padding: 1rem;
    align-content: center;
    text-align: left;
    flex-wrap: wrap;
    margin: .3rem;
}

.rodape {
    max-width: 35rem;
}

.link {
    max-width: 100rem;


}

.referencias {
    list-style: circle;
}

.titulo-link,
.rodape-titulo {
    text-align: center;

}